{% include "head.njk" %}
<body>
    <div class="grid-wrapper">
        <header class="header">
            {% include "header.njk" %}
        </header>
        {% if ('/web/' in page.url) or ('/ios/' in page.url) or ('/android/' in page.url) or ('/various/' in page.url) or ('/changelogs/' in page.url) or ('/auth' in page.url) or ('/directions/' in page.url) or ('/data/' in page.url) or ('/map/' in page.url) or ('/searching/' in page.url) or ('/content/' in page.url) %}
        <aside class="sidebar">
            {% include "sidebar.njk" %}
        </aside>
        {% endif %}
        <main class="content">
            <nav class="breadcrumb" aria-label="Breadcrumb">
                {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({listElement: "ol", listItemElement: "span", listItemClass: "item", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe }}
            </nav>
            <article class="article">
                <h1>
                    <a href="{{ page.url }}">{{ title }}</a>
                </h1>
                {% if '/404.html' not in page.url and '/search' not in page.url %}
                    <p class="time">Last updated:
                        <time>{{ page.date.toLocaleDateString() }}</time>
                    </p>
                {% endif %}
                {{ content | safe }}
            </article>
            <aside class="sidebar-toc">
                <div class="toc__content">
                    {% if toc %}
                        <h4>In this article</h4>
                        {{ content | toc  | safe }}
                    {% endif %}
                </div>
            </aside>
        </main>
        <footer class="footer">
            {% include "footer.njk" %}
        </footer>
    </div>
</body></html>
