{% include "head.njk" %}

<body>
    {% include "header.njk" %}
    <div class="content">
        <div class="wrap">
            <section class="container">
                <main>
                    <nav aria-label="Breadcrumb">
                        {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) | eleventyNavigationToHtml({listElement: "ol", listItemElement: "span", listItemClass: "item", listClass: "breadcrumb", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe }}
                    </nav>
                    <h1>
                        <a href="{{ page.url }}">{{ title }}</a>
                    </h1>
                    {% if '/404.html' not in page.url and '/search' not in page.url %}
                    <p class="time">Last updated: <time>{{ page.date.toLocaleDateString() }}</time>
                    </p>
                    {% endif %}
                    {{ content | safe }}
                </main>

                <aside>
                    <div class="toc">
                        <h4>In this article</h4>
                        {{ content | toc  | safe }}
                    </div>
                <aside>
            </section>
        </div>
    </div>
    {% include "footer.njk" %}
</body>

</html>
