{# -- Navigation macro -- #}
{% macro renderNavListItem(entry) -%}
  <li {% if entry.url == page.url %} class="my-active-class" {% endif %}>
    <a href="{{ entry.url | url }}">{{ entry.title }}</a>
    {%- if entry.children.length -%}
      <ul>
        {%- for child in entry.children %}
          <li>
            <a href="{{ child.url | url }}">{{ child.title }}</a>
          </li>
        {% endfor -%}
      </ul>
    {%- endif -%}
  </li>
{%- endmacro %}
<div class="row">
<div class="column">
    <h2>
      <a href="/content/getting-started/android/">Getting Started with Android</a>
    </h2>
    <ul class="list">
      {% set getting_started_android = collections.published | eleventyNavigation("getting-started-android") %}
      {%- for entry in getting_started_android %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
    <h2>
      <a href="/content/getting-started/ios/">Getting Started with iOS</a>
    </h2>
    <ul class="list">
      {% set getting_started_ios = collections.published | eleventyNavigation("getting-started-ios") %}
      {%- for entry in getting_started_ios %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
    <h2>
      <a href="/content/getting-started/web/">Getting Started with Web</a>
    </h2>
    <ul class="list">
      {% set getting_started_web = collections.published | eleventyNavigation("getting-started-web") %}
      {%- for entry in getting_started_web %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
  <div class="column">
    <h2>
      <a href="/content/map/">Map</a>
    </h2>
    <ul class="list">
      {% set map = collections.published | eleventyNavigation("map") %}
      {%- for entry in map %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
  <div class="column">
    <h2>
      <a href="/content/searching/">Searching</a>
    </h2>
    <ul class="list">
      {% set searching = collections.published | eleventyNavigation("searching") %}
      {%- for entry in searching %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
  <div class="column">
    <h2>
      <a href="/content/directions/">Directions and Routing</a>
    </h2>
    <ul class="list">
      {% set directions = collections.published | eleventyNavigation("directions") %}
      {%- for entry in directions %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
  <div class="column">
    <h2>
      <a href="/content/data/">Working with Data</a>
    </h2>
    <ul class="list">
      {% set data = collections.published | eleventyNavigation("data") %}
      {%- for entry in data %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
</div>
<hr/>
<div class="row">
  <div class="column">
    <h2>
      <a href="/content/legacy/">Legacy SDKs</a>
    </h2>
    <ul class="list">
      {% set legacy = collections.published | eleventyNavigation("legacy") %}
      {%- for entry in legacy %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
  <div class="column">
    <h2>
      <a href="/api/">Integration API</a>
    </h2>
    <h2>
      <a href="/content/cms/">MapsIndoors CMS</a>
    </h2>
  </div>
  <div class="column">
    <h2>
      <a href="/changelogs/">Changelogs</a>
    </h2>
    <ul class="list">
      {% set changelogs = collections.published | eleventyNavigation("changelogs") %}
      {%- for entry in changelogs %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
    </h2>
    <h2>
      <a href="/product/">Product Overview</a>
    </h2>
    <h2>
      <a href="/product/platform-requirements/">Requirements</a>
    </h2>
  </div>
  <div class="column">
    <h2>
      <a href="/content/various/">Various</a>
    </h2>
    <ul class="list">
      {% set various = collections.published | eleventyNavigation("various") %}
      {%- for entry in various %}
        {{ renderNavListItem(entry) }}
      {%- endfor -%}
    </ul>
  </div>
</div>