<footer>
  <div class="wrap">
    <section class="flex">
      <div class="left">
        <p>&copy; MapsPeople</p>
      </div>
      <div class="right">
        <a href="/features">Features</a>
        <a href="/cms">CMS</a>
        <a href="/terminology">Terminology</a>
      </div>
    </section>
  </div>
</footer>
