{% include "head.njk" %}

<body class="front">
  {% include "header.njk" %}
  <div class="front-content">
    <div class="wrap">

      <h1 class="headline">MapsIndoors is the indoor wayfinding platform built on top of Google Maps</h1>
      <h2 class="subheadline">Use our SDKs to integrate MapsIndoors into your existing apps,<br>or build a custom app
        suited to your needs.</h2>
      <div>
        <ul>
          <li>
            <a href="/product" class="front-button">Product Overview</a>
          </li>
          <li>
            <a href="/cms" class="front-button">MapsIndoors CMS</a>
          </li>
          <li>
            <a href="/api" class="front-button">Integration API v1</a>
          </li>
          <li>
            <a href="/various" class="front-button">Various</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="/ios/v3" class="front-button">iOS SDK v3</a>
          </li>
          <li>
            <a href="/android/v3" class="front-button">Android SDK v3</a>
          </li>
          <li>
            <a href="/web/v3" class="front-button">Web SDK v3</a>
          </li>
          <li>
            <a href="/web/v4" class="front-button">Web SDK v4</a>
          </li>
        </ul>
      </div>

    </div>
</body>

</html>
