{% include "head.njk" %}
<body>
  {% include "header.njk" %}
  <div class="wrap front">
    <section class="container">
      <main>
        {{ content | safe }}
      </main>
    </section>
  </div>
</body>
</html>
