<h3>Android v2</h3>
<ul>
  {%- for post in collections.androidv2 -%}
    <li>{{ post.data.title }}</li>
  {%- endfor -%}
</ul>

<h3>Android v3</h3>
<ul>
  {%- for post in collections.androidv3 -%}
    <li>{{ post.data.title }}</li>
  {%- endfor -%}
</ul>

<h3>iOS v2</h3>
<ul>
  {%- for post in collections.iosv2 -%}
    <li>{{ post.data.title }}</li>
  {%- endfor -%}
</ul>

<h3>iOS v3</h3>
<ul>
  {%- for post in collections.iosv3 -%}
    <li>{{ post.data.title }}</li>
  {%- endfor -%}
</ul>

<h3>Web v3</h3>
<ul>
  {%- for post in collections.webv3 -%}
    <li>{{ post.data.title }}</li>
  {%- endfor -%}
</ul>
