<nav>
  {% if ('web/v3/' in page.url) and ('changelogs' not in page.url) %}
    <p class="sidebar__header"><a href="/web/v3/">Web v3</a></p>
    <a href="https://app.mapsindoors.com/mapsindoors/js/sdk/3.12.1/docs/index.html">Reference Docs
      &UpperRightArrow;</a>
    <hr />
    {% set navPages = collections.published | eleventyNavigation("web-v3") %}
  {% endif %}
  {% if ('web/v4/' in page.url) and ('changelogs' not in page.url) %}
    <p class="sidebar__header"><a href="/web/v4/">Web v4</p>
    <a href="https://app.mapsindoors.com/mapsindoors/js/sdk/latest/docs/index.html">Reference Docs
      &UpperRightArrow;</a>
    <hr />
    {% set navPages = collections.published | eleventyNavigation("web-v4") %}
  {% endif %}
  {% if ('android/v3/' in page.url) and ('changelogs' not in page.url) %}
    <p class="sidebar__header"><a href="/android/v3/">Android v3</p>
    <a href="https://app.mapsindoors.com/mapsindoors/reference/android/v3/index.html">Reference Docs
      &UpperRightArrow;</a>
    <hr />
    {% set navPages = collections.published | eleventyNavigation("android-v3") %}
  {% endif %}
  {% if ('ios/v3/' in page.url) and ('changelogs' not in page.url) %}
   <p class="sidebar__header"><a href="/ios/v3/">iOS v3</p>
    <a href="https://app.mapsindoors.com/mapsindoors/reference/ios/v3/classes.html">Reference Docs
      &UpperRightArrow;</a>
    <hr />
    {% set navPages = collections.published | eleventyNavigation("ios-v3") %}
  {% endif %}
  {% if ('ios/v2/' in page.url) and ('changelogs' not in page.url) %}
    <p class="sidebar__header"><a href="/ios/v2/">iOS v2</p>
    {% set navPages = collections.published | eleventyNavigation("ios-v2") %}
  {% endif %}
  {% if ('android/v2/' in page.url) and ('changelogs' not in page.url) %}
    <p class="sidebar__header"><a href="/android/v2/">Android v2</p>
    {% set navPages = collections.published | eleventyNavigation("android-v2") %}
  {% endif %}
  {% if '/various' in page.url %}
    <p class="sidebar__header"><a href="/various/">Various</p>
    {% set navPages = collections.published | eleventyNavigation("various") %}
  {% endif %}
  {% if '/changelogs' in page.url %}
    <p class="sidebar__header"><a href="/changelogs/">Changelogs</p>
    {% set navPages = collections.published | eleventyNavigation("changelogs") %}
  {% endif %}
  {% if '/auth' in page.url %}
    <p class="sidebar__header"><a href="/auth/">Auth</p>
    {% set navPages = collections.published | eleventyNavigation("auth") %}
  {% endif %}
  {% if '/getting-started' in page.url %}
    <p class="sidebar__header"><a href="/getting-started/">Getting Started</p>
    {% set navPages = collections.published | eleventyNavigation("getting-started") %}
  {% endif %}
  {{ navPages | eleventyNavigationToHtml({listClass: "sidebar-nav", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe }}
</nav>

<style>
    .sidebar-nav ul {
        display: none;
    }

    .sidebar-nav .visible {
      display: block;
    }
</style>

<script>

/*
 * Step 1: Hide elements in the sidebar that is unrelated to the currently shown page (marked with class name "active").
 */
let activeListItem = document.querySelector('.sidebar-nav .active');
if (activeListItem) {
  activeListItem.querySelector(':scope > ul') ? activeListItem.querySelector(':scope > ul').style.display = 'block' : null;

  // Traverse updwards from the active and show lists
  while (activeListItem.parentNode && activeListItem.parentNode.classList.contains('sidebar-nav') === false) {
    activeListItem = activeListItem.parentNode;
    if (activeListItem.tagName = 'li') {
      activeListItem.classList.add('visible');
    }
  }
} else {
  document.querySelector('.sidebar-nav > li > ul').style.display = 'block';
}

/*
 * Step 2: Decorate menu items that have children with an indicator
 */
const collapsibleMenuItems = document.querySelectorAll('.sidebar-nav a + ul');
collapsibleMenuItems.forEach(node => {
  if (node.previousElementSibling) {
    node.previousElementSibling.insertAdjacentHTML('beforeend', ' &raquo;');
  }
});
</script>
