{% extends "default.njk" %}

{% block nav %}
  <nav class="sidebar">
    <h3>Android v3</h3>
    {% set navPages = collections.all | eleventyNavigation("android-v3") %}
    {{ navPages | eleventyNavigationToHtml({
      listClass: "sidebar-nav", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe 
    }}
    <ul>
      <li>
        <a href="https://app.mapsindoors.com/mapsindoors/reference/android/v3/index.html">Reference Docs</a>
      </li>
    </ul>
  </nav>
{% endblock %}
