<div class="flex bb b--black-20 f4 ph5 mi-bg-white-snow">
  <div class="flex-auto mid-gray">
    <p class="ttu f5 mi-tracked mi-breadcrumbs">
      {% assign crumbs = page.url | remove:'/index.html' | replace :'index','' | split: '/' %}
      <a href="{{ site.url }}" class="link">Home</a>
      {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
          
        {% else %}
          / <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}"  class="link">{{ crumb | replace:'-',' ' | remove:'.html' }}</a>
        {% endif %}
      {% endfor %}
    </p>
  </div>
  <div class="inline-flex items-center blue f5">
    {% if page.url contains '/ios/v3' %}<a href="https://app.mapsindoors.com/mapsindoors/reference/ios/v3/index.html" class="pl4 dib v-mid link dim">Reference Docs for iOS SDK v3</a>{% elsif page.url contains '/android/v3' %}<a href="https://app.mapsindoors.com/mapsindoors/reference/android/v3/index.html" class="pl4 dib v-mid link dim">Reference Docs for Android SDK v3</a>{% elsif page.url contains '/web/v3' %}<a href="https://app.mapsindoors.com/mapsindoors/js/sdk/latest/docs/index.html" class="pl4 dib v-mid link dim">Reference Docs for Web SDK v3</a>{% endif %}
  </div>
</div>
