{% include "head.njk" %}
<body>
  {% include "header.njk" %}
  <div class="wrap">
    <section class="container">
      {% block nav %}{% endblock %}
      <main>
        <nav aria-label="Breadcrumb">
          {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.parent) | eleventyNavigationToHtml({listElement: "ol", listItemElement: "span", listItemClass: "item", listClass: "breadcrumb", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe }}
        </nav>
        <h1>{{ title }} - MapsIndoors Documentation</h1>
        {{ content | safe }}
      </main>
    </section>
  </div>
  {% include "footer.njk" %}
</body>
</html>
