<footer class="flex bg-dark-gray near-white relative left-0 right-0 bottom-0 mh5">
	<div class="w-50 pv3">
		<p>&copy; <a href="https://mapspeople.com" title="MapsPeople" class="link dim near-white">MapsPeople</a> {{ 'now' | date: "%Y" }}</p>
	</div>
	<div class="w-50 pv3">
		<p class="fr">
			<a href="https://resources.mapspeople.com/get-support" title="Get support" class="link dim near-white">Get support</a> · <a href="https://blog.mapspeople.com" title="MapsPeople blog" class="link dim near-white">Blog</a>
		</p>
	</div>
</footer>
