<footer class="linear
 near-white relative left-0 right-0 bottom-0 ph5">
    <div class="mw9 center">
        <div class="flex">
            <div class="w-50 pv3">
                <p>&copy; <a href="https://mapspeople.com" title="MapsPeople" class="link dim near-white">MapsPeople</a>
                    {{ 'now' | date: "%Y" }}</p>
            </div>
            <div class="w-50 pv3">
                <p class="fr">
                    <a href="https://mapspeople.atlassian.net/servicedesk/customer/portals" title="Get support" class="link dim near-white">Get support</a> · <a href="https://blog.mapspeople.com" title="MapsPeople blog" class="link dim near-white">Blog</a>
                </p>
            </div>
        </div>
        <div class="flex mt2 bt bw1 b--mi-dark-green">

            {% assign android_items = site.android | where_exp : "item",
            "item.version == 'v3'" | where_exp : "item",
            "item.layout != 'start'" | sort : 'nav_weight' %}
            {% assign ios_items = site.ios | where_exp : "item",
            "item.version == 'v3'" | where_exp : "item",
            "item.layout != 'start'" | sort : 'nav_weight' %}
            {% assign web_items = site.web | where_exp : "item",
            "item.version == 'v3'" | where_exp : "item",
            "item.layout != 'start'" | sort : 'nav_weight' %}
            {% assign cms_items = site.cms | sort : 'nav_weight' %}
            {% assign api_items = site.api | where_exp : "item",
            "item.layout != 'default'" | sort : 'nav_weight' %}
            {% assign xamarin_items = site.xamarin | where_exp : "item",
            "item.layout != 'default'" | sort : 'nav_weight' %}
            {% assign various_items = site.various | where_exp : "item",
            "item.layout == 'default'" | sort : 'nav_weight' %}

            <div class="w-third mr4 mt4">
                <h2>
                    <a href="/ios/v3" class="link dim near-white">iOS v3</a>
                </h2>
                    <ul class="list pl0">
                {% for item in ios_items %}
                        <li class="mb2 {% if item.layout == 'guide' %}b mt4{% elsif item.title contains 'Changelog' %}b mt4{% endif %}">
                            <a class="link dim near-white" href="{{ item.url | replace: "/index", "/" }}">{{ item.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
            </div>

            <div class="w-third mr4 mt4">
                <h2>
                    <a href="/android/v3" class="link dim near-white">Android v3</a>
                </h2>
                    <ul class="list pl0">
                {% for item in android_items %}
                        <li class="mb2 {% if item.layout == 'guide' %}b mt4{% elsif item.title contains 'Changelog' %}b mt4{% endif %}">
                            <a class="link dim near-white" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
            </div>
            <div class="w-third mr4 mt4">
                <h2>
                    <a href="/web/v3" class="link dim near-white">Web v3</a>
                </h2>
                    <ul class="list pl0">
                {% for item in web_items %}
                        <li class="mb2 {% if item.layout == 'guide' %}b mt4{% elsif item.title contains 'Changelog' %}b mt4{% endif %}">
                            <a class="link dim near-white" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
            </div>

        </div>
        <div class="flex pb5 mt4 bt bw1 b--mi-dark-green">
            <div class="w-third mr4">
                <h2 class="pt4">
                    <a href="/cms/" class="link dim near-white">CMS</a>
                </h2>
                    <ul class="list pl0">
                {% for item in cms_items %}
                        <li class="mb2 {% if item.layout == 'guide' %}b mt4{% endif %}">
                            <a class="link dim near-white" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
            <h2 class="pt4 near-white">Legacy versions</h2>
                <ul class="list pl0">
                    <li class="mb2 b">
                        <a class="link dim near-white" href="/ios/v2/">iOS v2</a>
                    </li>
                    <li class="mb2 b">
                        <a class="link dim near-white" href="/android/v2/">Android v2</a>
                    </li>
                </ul>
            </div>
            <div class="w-third mr4">
                <h2 class="pt4">
                    <a href="/api/" class="link dim near-white">Integration API</a>
                </h2>
                    <ul class="list pl0">
                {% for item in api_items %}
                        <li class="mb2 {% if item.layout == 'guide' %}b mt4{% endif %}">
                            <a class="link dim near-white" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
                <h2 class="pt4">
                    <a href="/xamarin/" class="link dim near-white">Xamarin</a>
                </h2>
                    <ul class="list pl0">
                {% for item in xamarin_items %}
                        <li class="mb2 {% if item.layout == 'guide' %}b mt4{% endif %}">
                            <a class="link dim near-white" href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                {% endfor %}
                    </ul>
            </div>
            <div class="w-third mr4">
                <h2 class="pt4 near-white">Various</h2>
                <ul class="list pl0">
                {% for item in various_items %}

                        <li class="mb2">
                            <a class="link dim near-white" href="{{ item.url }}">{{ item.title }}</a>
                        </li>

                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
