<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    
    {% if page.description %}
    <meta name="Description" content="{{ page.description }}">
    {% endif %}
    
    <link rel="shortcut icon" href="{{ "favicon.ico" | absolute_url }}" type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,300i,400,500,700&display=swap" rel="stylesheet">
    
    <!-- Keep the style.css-file above the Tachyons-file so the relevant classes can be overridden when (rarely) needed. -->
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
    
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
