{% extends "default.njk" %}

{% block nav %}
  <nav class="sidebar">
    <h3>iOS v3</h3>
    {% set navPages = collections.all | eleventyNavigation("ios-v3") %}
    {{ navPages | eleventyNavigationToHtml({
      listClass: "sidebar-nav", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe 
    }}
    <ul>
      <li>
        <a href="https://app.mapsindoors.com/mapsindoors/reference/ios/v3/index.html">Reference Docs</a>
      </nav>
    {% endblock %}
