{% extends "default.njk" %}

{% block nav %}
  <nav>
    <h2>iOS v3 only</h2>
    {% set navPages = collections.all | eleventyNavigation("ios-v3") %}
    {{ navPages | eleventyNavigationToHtml({
      listClass: "sidebar-nav", listItemHasChildrenClass: "bold", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe 
    }}
  </nav>
  <section>

    {{ collection.all | eleventyNavigationBreadcrumb | eleventyNavigationToHtml | safe }}</section>
{% endblock %}
