{% extends "default.njk" %}

{% block nav %}
  <nav class="sidebar">
    <h3>iOS v2</h3>
    {% set navPages = collections.all | eleventyNavigation("ios-v2") %}
    {{ navPages | eleventyNavigationToHtml({
      listClass: "sidebar-nav", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe 
    }}
  </nav>

{% endblock %}
