<div class="flex bb b--black-20 f4 ph5 bg-white">
  <div class="flex-auto mid-gray">
    <p class="ttu f5 mi-tracked mi-breadcrumbs">
      {% include breadcrumbs.html %}
    </p>
  </div>
  <div class="inline-flex items-center blue f5">
    {% if page.url contains '/ios/v3' %}<a href="https://app.mapsindoors.com/mapsindoors/reference/ios/v3/index.html" class="pl4 dib v-mid link dim">Refrence Docs</a>{% elsif page.url contains '/android/v3' %}<a href="https://app.mapsindoors.com/mapsindoors/reference/android/v3/index.html" class="pl4 dib v-mid link dim">Refrence Docs</a>{% elsif page.url contains '/web/v3' %}<a href="https://app.mapsindoors.com/mapsindoors/js/sdk/docs/v3.2.1/index.html" class="pl4 dib v-mid link dim">Refrence Docs</a>{% endif %}
  </div>
</div>
