
  <!--  <ul class="nav">
      <li><a href="http://www.g.com">Home</a></li>
      <li><a href="http://www.g.com">Portfolio</a></li>
      <li class="drop">Drop
        <ul>
          <li><a href="http://www.g.com">Art</a></li>
          <li><a href="http://www.g.com">Coding</a></li>
          <li><a href="http://www.g.com">Design</a></li>
          <li><a href="http://www.g.com">Web Development</a></li>
        </ul>
      </li>
      <li><a href="http://www.g.com">Contact</a></li>
    </ul>-->

    <nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
      <div class="c-navigation__container u-container">
    <ul class="nav">
    {% for steve in site.data.menu %}
        {% if steve.subcategories != null %}
        <li class="drop" ><a class="c-navigation__item" href="{{ steve.href }}">{{ steve.title }}</a>
        <ul>
        {% for subcategory in steve.subcategories %}
        <li><a
          class="c-navigation__item" href="{{ subcategory.subhref}}" >{{ subcategory.subtitle }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
         <li><a class="c-navigation__item" href="{{ steve.href }}" >{{ steve.title }}</a>
        {% endif %}
        </li>
        {% endfor %}
        </ul>

      </div>
    </nav>
