<header>
	<div class="flex bg-green bb b--dark-green">
		<div class="w-2 pa3 flex-auto">
			<a href="{{ site.baseurl }}">
				<img src="{{ site.baseurl }}/assets/mapspeople-logo-white.svg" alt="MapsPeople logo" width="200px">
			</a>
		</div>
		<div class="pa3 inline-flex items-center">
			<a class="pl4 dib v-mid link dim near-white" href="{{ site.url }}{{ site.baseurl }}/support">Support</a>
			<a class="pl4 dib v-mid link dim near-white inline-flex items-center pl4" href="//github.com/mapsindoors">
				{% octicon mark-github %}
				<span class="ml2">MapsIndoors on GitHub</span>
			</a>
		</div>
	</div>
</header>
