<header class="ph5 bg-green">
	<div class="flex">
		<div class="w-2 pv3 flex-auto">
			<a href="{{ site.url }}">
				<img src="{{ site.url }}/assets/mapspeople-logo-white.svg" alt="MapsPeople logo" width="200px">
			</a>
		</div>
		<div class="pv3 inline-flex items-center">
			<a class="pl4 dib v-mid link dim near-white" href="https://mapspeople.com/support">Support</a>
			<a class="pl4 dib v-mid link dim near-white inline-flex items-center pl4" href="https://github.com/mapsindoors">
				{% octicon mark-github %}
				<span class="ml2">MapsIndoors on GitHub</span>
			</a>
			<a class="pl4 dib v-mid link dim near-white" href="https://cms.mapsindoors.com">MapsIndoors CMS</a>
		</div>
	</div>
</header>
