{% include head.html %}
  <body class="bg-dark-gray">
    {% include top-nav.html %}
    {% include nav.html %}
    <main role="main">
      <section class="bg-white mt0 pb5">
        <div class="mw7 center">
          <h1 class="f1 fw3 mv0 pt4">{{ page.title }}</h1>
          <p class="f5 lh-copy">
            {% if page.last_modified_at %}<span class="orange mr2">Updated on {{ page.last_modified_at |date: "%B %-d, %Y" }} </span>{% endif %}
            <span class="gray">{% if page.date %}Posted on {{ page.date | date: "%B %-d, %Y" }} {% endif %}</span>
          </p>
