{% extends "default.njk" %}

{% block nav %}
  <nav class="sidebar">
    <h3>Various</h3>
    {% set navPages = collections.all | eleventyNavigation("various") %}
    {{ navPages | eleventyNavigationToHtml({
      listClass: "sidebar-nav", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe 
    }}
  </nav>
{% endblock %}
