{% extends "default.njk" %}

{% block nav %}
  <nav>
    <h2>Various</h2>
    {% set navPages = collections.all | eleventyNavigation("various") %}
    {{ navPages | eleventyNavigationToHtml({
      listClass: "sidebar-nav", listItemHasChildrenClass: "bold", activeListItemClass: "active", activeKey: eleventyNavigation.key}) | safe 
    }}
  </nav>
{% endblock %}
