.headline {
  font-family: Raleway;
  font-weight: 300;
}

.front-gradient {
  background-image: linear-gradient(to bottom right, #F4F0E8, #D8E8E0);
  color: #006440;
  min-height: 100vh;
}

.front {
  color: #006440;
}

svg.mapspeople-logo path {
  fill: #006440;
}

.border {
  border-color: #4daf4e;
}

.mi-sdk-button {
  box-shadow: 0px 16px 32px rgba(0, 120, 72, 0.16);
  background-color: rgba(255, 255, 255, 0.96);
}

.mi-sdk-button span {
  color: rgba(0, 0, 0, 0.64);
}

@media (prefers-color-scheme: dark) {
  .front-gradient {
    background-image: linear-gradient(to bottom, #1E3C32, #111111);
    color: #F4F0E8;
  }
  svg.mapspeople-logo path {
    fill: white;
  }
  .front {
    color: #f4f0e8;
  }
  .border {
    border-color: rgba(255, 255, 255, 0.96);
  }
  .mi-sdk-button {
    box-shadow: 0px 16px 32px rgba(244, 240, 232, 0.16);
  }
}
