@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  }
}

/* 
This is an example of overriding a Tachyons-defined class:

.bg-dark-red {
  background-color: #9B0000;
}

Unless we compile the styles from scratch we can't use e.g. the "--dark-red" variable and have the changes cascade to bg-dark-red etc. so this is the way to go about it.
*/

blockquote {
  border-left: 4px solid rgba(0, 0, 0, 0.16);
  padding-left: 16px;
  font-style: italic;
  font-size: 1.25em;
  margin-left: 0;
  margin-right: 0;
}

blockquote.mi-tip,
blockquote.mi-careful,
blockquote.mi-warning {
  border-radius: 4px;
  padding: 0px 24px;
  font-size: 1em;
  font-style: normal;

}

blockquote.mi-tip {
  background-color: rgba(79, 166, 120, 0.24);
  border: 1px solid rgba(79, 166, 120, 0.48);
}

blockquote.mi-careful {
  background-color: rgba(245, 185, 64, 0.24);
  border: 1px solid rgba(245, 185, 64, 0.48);
}

blockquote.mi-warning {
  background-color: rgba(212, 46, 37, 0.24);
  border: 1px solid rgba(212, 46, 37, 0.48);
}

code.hljs {
  padding: 1em;
  font-size: .85em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

code.highlighter-rouge {
  background-color: rgba(0, 0, 0, 0.04);
  font-size: .8em;
  border-radius: 4px;
  padding: .12em .6em;
}

.f1,
.f2 {
  letter-spacing: -0.03em;
}

.mi-tracked {
  letter-spacing: 0.04em;
}

.mi-breadcrumbs a:visited {
  color: #555;
}

.mi-breadcrumbs a:hover {
  color: #357EDD;
}

h1 {
  line-height: 1.25;
}

.mi-bg-dark-green {
  background-color: #006440;
}

.b--mi-dark-green {
  border-color: #007848;
}

.mi-bg-darker-green {
  background-color: #1E3C32;
}

.mi-bg-green {
  background-color: #007848;
}

.mi-bg-green-light {
  background-color: #D8E8E0;
}

.mi-bg-romance {
  background-color: #F4F0E8;
}

.mi-bg-white-snow {
  background-color: #F9F9F9;
}

.mi-dark-green {
  color: #006440;
}

.mi-darker-green {
  color: #1E3C32;
}

.mi-green {
  color: #007848;
}

.mi-green-light {
  color: #D8E8E0;
}

.mi-romance {
  color: #F4F0E8;
}

.mi-white-snow {
  color: #F9F9F9;
}

svg.mapspeople-logo path {
  fill: white;
}

:root {
  background-color: #1E3C32;
}

footer.linear {
  background-image: linear-gradient(to bottom, #006440, #1E3C32);
  color: #F4F0E8;
}

thead {
  background-color: rgba(0, 0, 0, 0.08);
}

tbody {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

td,
th {
  vertical-align: top;
  text-align: left;
  padding: 0.5rem;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.04);
}

.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6,
.text p,
.text ul,
.text ol,
.text blockquote,
.text table,
.text .highlighter-rouge,
.text iframe {
  margin-right: auto;
  margin-left: auto;
  max-width: 48rem;
}

.text iframe {
  display: block;
  max-height: 48rem;
}

.text article aside {
  position: sticky;
  top: 24px;
  float: right;
  margin-left: 1rem;
  margin-right: 2rem;
  width: 280px;
  background-color: rgba(0, 0, 0, 0.04);
  z-index: 10;
}

.text article aside ul ul {
  list-style-type: disc;
}

.red {
  color: red;
}
