@use '../../node_modules/normalize.css/normalize.css';

@use '../../node_modules/@mapsindoors/midt/background-color';
@use '../../node_modules/@mapsindoors/midt/border';
@use '../../node_modules/@mapsindoors/midt/color';
@use '../../node_modules/@mapsindoors/midt/elevation';
@use '../../node_modules/@mapsindoors/midt/font';
@use '../../node_modules/@mapsindoors/midt/icons';
@use '../../node_modules/@mapsindoors/midt/margin';
@use '../../node_modules/@mapsindoors/midt/opacity';
@use '../../node_modules/@mapsindoors/midt/padding';
@use '../../node_modules/@mapsindoors/midt/sizing';
@use '../../node_modules/@mapsindoors/midt/transitions';
@use '../../node_modules/@mapsindoors/midt/z-index';

@use '../../node_modules/@mapsindoors/midt/build/scss/variables'as *;

@import './home';
@import './footer';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    @include background-color.white(base);
}

html,
body {
    margin: 0;
}

hr {
    @include margin.vertical(medium);
    border: none;
    border-bottom: 1px solid #eaecef;
}

body {
    @include font.family(sans-serif);
    @include font.size(medium);
    @include font.weight(medium);
    @include font.leading(x-large);
    @include font.tracking(medium);
    @include font.color(base);
    /* Controlling overflow of long urls in particular */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

p,
ul,
ol,
blockquote {
    @include font.measure(large);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px auto auto;
    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
}

.header {
    grid-area: header;
    @include padding.horizontal(x-large);
}

.sidebar {
    grid-area: menu;
    border-right: 1px solid #eaecef;
    @include padding.horizontal(x-large);
    @include padding.vertical(large);
}

.content {
    grid-area: content;
    margin: 0 auto;
    @include padding.horizontal(xxx-large);

    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 48px auto;
    grid-template-areas:
        "breadcrumb breadcrumb"
        "article toc";

    @include padding.vertical(large);

    .breadcrumb {
        grid-area: breadcrumb;
        max-width: 1000px;
        padding-bottom: 16px;
        border-bottom: 1px solid #eaecef;
    }

    .article {
        grid-area: article;
        max-width: 750px;
        @include padding.vertical(x-large);
    }

    .sidebar-toc {
        width: 250px;
        grid-area: toc;
        @include padding.left(xxx-large);
        @include padding.vertical(x-large);
    }
}

.footer {
    grid-area: footer;
}

@media only screen and (max-width: 1200px) {
    .content {
        grid-template-areas:
        "breadcrumb breadcrumb"
        "article article";

        .sidebar-toc {
            display: none;
        }
    }
}



main {

    // width: 500px;
    // @include margin.top(medium);
    // p,
    // ul,
    // ol,
    // blockquote {
    //     @include font.measure(large);
    // }

    p.next-article {
        text-align: center;

        a.mi-button {
            @include margin.top(large);
            @include background-color.blue(60);
            @include color.white(base);
            @include border.width(large);

            &:hover {
                @include background-color.blue(70);
                @include color.white(base);
            }
        }
    }
}

blockquote {
    font-style: italic;
    @include border.width;
    @include border.style;
    @include border.left;
    @include border.top(none);
    @include border.right(none);
    @include border.bottom(none);
    @include border.bronze(30);
    @include background-color.bronze(10);
    @include margin.left(none);
    @include padding.left(small);
    border-radius: 0 $rounding-large $rounding-large 0;

    p,
    ol {
        display: inline-block;
        @include margin.right(medium);
    }
}

a {
    text-decoration: none;
    @include color.blue(60);

    &:hover {
        text-decoration: underline;
        @include color.blue(70);
    }

    &:active {
        @include color.magenta(60);
    }
}



// TOC

.toc__content {
    position: sticky;
    top: 40px;

    h4 {
        margin: 0;
        text-transform: uppercase;
        @include color.gray(80);
        @include font.size(medium);
        @include font.weight(x-large);
    }

    nav ol {
        margin: 0;
        padding: 0;

        @include font.size(small);
        line-height: 1.50;

        li {
            list-style: none;

            a {
                @include color.gray(60);
            }
        }
    }
}

.sidebar {
    nav>a {
        @include color.gray(70);
    }

    &__header a {
        @include font.weight(large);
        @include font.size(x-large);
        @include font.color(base);
    }


    ul {
        margin: 0;
        padding: 0;
        @include font.leading(xx-large);

        li {
            list-style: none;

            a {
                @include font.weight(large);
                @include color.gray(80);
            }

            ul {
                line-height: 1.6rem;
                @include padding.left(medium);

                li {
                    padding-top: 8px;

                    a {
                        @include font.weight(medium);
                        @include color.gray(70);
                    }
                }
            }
        }

        li.active>a {
            @include color.blue(60);
        }
    }

}



// Headlines

h1 {
    @include font.size(xx-large);
    @include font.leading(xx-large);
    @include font.weight(large);
    @include margin.top(medium);
    @include margin.bottom(large);

    a {
        @include font.color(base);

        &:visited {
            @include font.color(base);
        }

        &:hover {
            @include color.blue(60);
        }
    }
}

h2 {
    @include font.size(x-large);
    @include font.leading(x-large);
    @include font.weight(x-large);
    @include padding.top(x-large);
    @include padding.bottom(large);
}

h3 {
    @include font.size(large);
    @include font.leading(large);
    @include font.weight(x-large);
    @include padding.top(x-large);
    @include padding.bottom(large);
}

h4 {
    @include font.size(medium);
    @include font.leading(medium);
    @include font.weight(xx-large);
    @include padding.top(large);
    @include padding.bottom(medium);
}

h5 {
    @include font.size(small);
    @include font.weight(xx-large);
    @include padding.top(medium);
    @include padding.bottom(small);
}

h6 {
    @include font.size(x-small);
    @include font.weight(xx-large);
    @include font.tracking(x-large);
    @include padding.top(medium);
    @include padding.bottom(small);
    text-transform: uppercase;
}

// header.njk

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, $color-green-90, $color-green-100);

    svg.mapspeople-logo path {
        fill: white;
    }

    .nav a {
        @include color.white(base);

        &:hover {
            text-decoration: underline;
            @include color.gray(20);
        }

        &:active {
            @include color.gray(30);
        }

        &:visited {
            @include color.white(base);
        }

        &:not(:last-child) {
            @include margin.right(medium);
        }
    }
}

// Breadcrumb

.breadcrumb {
    @include padding.left(none);
    @include margin.top(none);

    ol {
        margin: 0;
        padding: 0;
    }

    .item {
        @include color.gray(60);

        a {
            @include margin.right(small);
            @include font.weight(medium);
            @include font.size(medium);
            // font-style: italic;
            color: inherit;
        }

        &:not(:first-of-type) {
            @include margin.left(xx-small);
        }

        &:not(:last-of-type)::after {
            content: "›";
        }
    }
}

p.time {
    @include color.gray(60);
    @include font.size(x-small);
    @include font.weight(xx-large);
    @include font.tracking(x-large);
    @include margin.bottom(large);
    margin-top: -12px;
    text-transform: uppercase;
}

main img {
    max-width: 100%;
}

// Table styles

table {
    @include margin.top(small);
    @include margin.bottom(medium);
    display: inline-block;
    text-align: left;
    border: 1px solid $color-gray-40;
    border-top: none;
    border-collapse: collapse;

    thead {
        @include font.size(large);
        @include background-color.gray(80);

        th {
            @include padding.all(small);
            @include color.white(base);
        }
    }

    tbody tr:nth-child(odd) {
        @include background-color.gray(10);
    }

    td {
        @include padding.horizontal(small);
        @include padding.vertical(small);
        min-width: 72px;
        border-left: 1px solid $color-gray-30;
        vertical-align: baseline;
        word-break: break-word;

        &:first-child {
            border-left: none;
        }
    }
}

// Seach
.search-form {
    @include margin.bottom(x-large);
    display: flex;

    // Block element interaction while search index is loading
    &--blocked {
        opacity: 0.5;
        pointer-events: none;
    }

    input {
        @include margin.right();
        @include border.radius(medium);
        @include border.style(solid);
        @include border.gray(60);
        @include border.width();
        @include padding.left(x-small);
        @include font.size(large);
        width: 320px;
        height: 44px;

        &:focus {
            @include border.blue(60);
        }
    }
}

.search-result {
    @include margin.bottom(large);

    a#sr-link {
        @include font.size(x-large);
        @include font.weight(large);
    }

    p {
        @include color.green(50);
        @include margin.top(xxx-small);
        @include font.size(small);
    }
}