@use '../../node_modules/normalize.css/normalize.css';
@use '../../node_modules/@mapsindoors/midt/background-color';
@use '../../node_modules/@mapsindoors/midt/border';
@use '../../node_modules/@mapsindoors/midt/color';
@use '../../node_modules/@mapsindoors/midt/elevation';
@use '../../node_modules/@mapsindoors/midt/font';
@use '../../node_modules/@mapsindoors/midt/icons';
@use '../../node_modules/@mapsindoors/midt/margin';
@use '../../node_modules/@mapsindoors/midt/opacity';
@use '../../node_modules/@mapsindoors/midt/padding';
@use '../../node_modules/@mapsindoors/midt/sizing';
@use '../../node_modules/@mapsindoors/midt/transitions';
@use '../../node_modules/@mapsindoors/midt/z-index';

@use '../../node_modules/@mapsindoors/midt/build/scss/variables' as *;

body {
  @include font.family(sans-serif);
  @include font.size(medium);
  @include font.weight(medium);
  @include font.leading(x-large);
  @include font.tracking(medium);
  @include font.color(base);
  @include background-color.white(base);
}

.wrap {
  max-width: 1248px;
  margin-left: auto;
  margin-right: auto;
  .container {
    display: flex;
    flex: 1 0;
  }
}

main {
  @include margin.top(medium);
  p,
  ul,
  ol,
  blockquote {
    @include font.measure(large);
  }
}

a {
  text-decoration: none;
  @include color.blue(60);

  &:hover {
    text-decoration: underline;
    @include color.blue(70);
  }

  &:active {
    @include color.red(60);
  }

  &:visited {
    @include color.purple(60);
  }
}

// Sidebar navigation

nav.sidebar {
  min-width: 280px;
  max-width: 280px;
  display: block;
  @include margin.right(xx-large);
}

// Headers

h1 {
  @include font.size(xx-large);
  @include font.weight(large);
  @include margin.top(x-large);
  @include margin.bottom(large);
}

h2 {
  @include font.size(x-large);
  @include font.weight(x-large);
  @include margin.top(x-large);
  @include margin.bottom(large);
}

h3 {
  @include font.size(large);
  @include font.weight(x-large);
  @include margin.top(x-large);
  @include margin.bottom(large);
}

h4 {
  @include font.size(medium);
  @include font.weight(xx-large);
  @include margin.top(large);
  @include margin.bottom(medium);
}

h5 {
  @include font.size(small);
  @include font.weight(xx-large);
  @include margin.top(medium);
  @include margin.bottom(small);
}

h6 {
  @include font.size(x-small);
  @include font.weight(xx-large);
  @include font.tracking(x-large);
  @include margin.top(medium);
  @include margin.bottom(small);
  text-transform: uppercase;
}

// Code highlight styling. .hljs is a highlight.js-specific class.

pre code {
  @include font.family(monospace);
  @include border.radius(medium);
  width: $font-measure-large;
  &.hljs {
    @include padding.all(medium);
    @include border.gray(40);
    @include border.style(solid);
    @include border.width(medium);
  }
}

// header.njk, footer.njk

header,
footer {
  background-image: linear-gradient(
    to bottom,
    $color-green-90,
    $color-green-100
  );
  .flex {
    display: flex;
  }
  .left {
    @include margin.vertical(medium);
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
  }
  .right {
    @include margin.vertical(medium);
    align-items: center;
    display: inline-flex;
    text-align: right;

    a {
      vertical-align: middle;
      @include padding.left(medium);
      display: inline-block;
    }
  }
  a {
    @include color.white(base);

    &:hover {
      text-decoration: underline;
      @include color.gray(20);
    }

    &:active {
      @include color.gray(30);
    }
  }
}

svg.mapspeople-logo path {
  fill: white;
}

// footer.njk
footer {
  @include color.gray(20);
  @include margin.top(large);
}

.various {
  @include font.weight(normal);
}

// Lists in nav and footer
footer,
nav {
  ul,
  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  ul {
    @include font.weight(x-large);
    @include font.size(medium);
    @include font.leading(x-large);
    li {
      @include margin.top(medium);
      ul {
        @include font.weight(medium);
        @include font.size(medium);
        @include margin.vertical(small);
        @include margin.left(small);
        li {
          @include margin.top(xx-small);
        }
      }
    }
  }
  li.active {
    @include font.weight(large);
    @include color.blue(70);
    @include border.left(solid);
    @include border.blue(60);
    margin-left: -11px;
    padding-left: 8px;

    ul {
      font-style: normal;
    }
  }
}

// Breadcrumb
ol.breadcrumb {
  @include padding.left(none);
  @include margin.top(none);
  .item {
    a {
      @include margin.right(small);
      @include font.weight(large);
      @include font.size(medium);
    }
  }
  .item:not(:first-of-type) {
    @include margin.left(xx-small);
  }
  .item:not(:last-of-type)::after {
    content: '›';
  }
}

// Dark theme overrides. Should always be at the bottom.
@media (prefers-color-scheme: dark) {
  body {
    @include font.color(inverse);
    @include background-color.gray(100);
  }

  a {
    @include color.bronze(20);

    &:hover {
      text-decoration: underline;
      @include color.bronze(30);
    }

    &:active {
      @include color.bronze(40);
    }
  }
  pre code.hljs {
    @include border.style(none);
  }
  nav.sidebar {
    li.active {
      @include border.bronze(20);
      a {
        @include color.bronze(30);
      }
      ul li a {
        @include color.bronze(20);
      }
    }
  }
  header,
  footer {
    @include background-color.black(base);
    background-image: none;
  }
  p code {
    @include background-color.gray(80);
  }
}

p.time {
  @include color.gray(60);
  @include font.size(x-small);
  @include font.weight(xx-large);
  @include font.tracking(x-large);
  @include margin.bottom(large);
  text-transform: uppercase;
}

main img {
  max-width: 100%;
}
