/* ==========================================================================
   Navigation
   ========================================================================== */


   $grey: #9e9e9e;
   $plum: #8e44ad;
   $dropColor: #11A7F3;
   $shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);

.c-navigation {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 2.5rem;
  width: 100%;
  background: $t-theme;
  z-index: 10;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to bottom, rgba(#000, .25), rgba(#000, 0));
  }

  &.is-fixed {
    position: fixed;
    will-change: transform;
  }
}

.c-navigation__item {
  position: relative;
  display: inline-block;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  @include ff--mono(500);
  @include fs--meta;
  color: $c__white;
  text-transform: uppercase;




  &:not(:last-of-type) {
    margin-right: 2.5rem;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
    transition: background ease-in-out 0.2s;
  }

  &:hover:after,
  &.is-active:after {
    background: $c__white;
  }
}


.nav {
  > li {
    display: inline-block;
    padding: 1em 18px;
    cursor: pointer;

  }
}

.drop {
  position: relative;
  ul {
    position: absolute;
    left: 0;
    top: 9em;
    background: $dropColor;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: 0 0;
    box-shadow: $shadow;
    li {
      display: block;
      width: 100%;
      a {
        padding-right: 2.5rem ;
        padding-bottom: 2.5rem ;
        width: 85%;
        display: inline-block;
        white-space: pre;
        box-sizing: border-box;
        &:hover {

        }
      }
    }
  }
  &:hover {
    ul {
      transform: scale(1);
    }
  }
}

//---------------------------------------------

.follow {
  width: 42px;
  height: 42px;
  border-radius: 50px;
  background: #03A9F4;
  display: block;
  margin: 300px auto 0;
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.2s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.2);
  i {
    margin-right: 20px;
    transition: margin-right 0.2s ease;
  }
  &:hover {
    width: 134px;
    i {
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 800px) {
  .follow {
    margin: 400px auto 0;
  }
}
