{% include head.html %}
  <body class="bg-dark-gray">
    {% include top-nav.html %}
    <div class="flex mi-bg-seafoam">
      <main role="main" class="w-100">
        <div class="flex near-white bg-dark-green ph5 pt4 pb3">
          <div class="w-50">
            <h1 class="f1 lh-solid b mv0">MapsIndoors</h1>
            <h2 class="f2 lh-solid fw3 i">The indoor wayfinding platform built on top of Google Maps.</h2>
          </div>
        </div>
        <div class="w-100 mh5 mb0 navy">
          <h3 class="fw5 f2">MapsIndoors SDKs</h3>
        </div>
        <div class="flex pt4 mh5 navy">
          <div class="w-third">
            <h4 class="fw3 f3 mt0">Use our SDKs to integrate MapsIndoors into your existing apps, or build a custom app suited to your needs.</h4>
            <h5 class="fw3 f4 mt0">Follow the tutorials for iOS, Android and Web to build a complete MapsIndoors Solution.</h5>
            <h5 class="fw3 f4 mt0">You will learn how to show your first location on the map, build a search feature, and get indoor directions.</h5>
          </div>
          <div class="w-two-thirds flex flex-wrap ml5">
            <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mb4 mr4 dib black bg-white inline-flex items-center tc" href="/ios/v3"><img class="mr3" src="assets/apple-logo.svg" width="40px" height="40px">iOS <span class="gray ml2">v3</span></a>
            <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mb4 mr4 dib black bg-white inline-flex items-center tc" href="/android/v3"><img class="mr3" src="assets/android-logo.svg" width="40px" height="40px">Android <span class="gray ml2">v3</span></a>
            <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mb4 mr4 dib black bg-white inline-flex items-center tc" href="/web/v3"><img class="mr3" src="assets/js-logo.svg" width="40px" height="40px">Web <span class="gray ml2">v3</span></a>
            <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mb4 mr4 dib black bg-white inline-flex items-center tc" href="/api/v1"><img class="mr3" src="assets/public-api-logo.svg" width="40px" height="40px">API <span class="gray ml2">v1</span></a>
            <p class="silver w-100 mt4 pb5 lh-copy"><span class="b">Legacy versions:</span> iOS v2 · Android v2 · Web v2</p>
          </div>
        </div>
      </main>
    </div>
    {% include footer.html %}
  </body>
</html>
