<!DOCTYPE html>
<html lang="en" class="dark-gray">
{% include head.html %}
<body>
  <div class="gradient">
    {% include header.html %}
    <main class="mh5" role="main">
      <section class="pb5">
        <h1 class="f-subheadline lh-solid">MapsIndoors is the indoor wayfinding platform built on top of Google Maps</h1>
        <h2 class="f2 lh-copy normal i mb5">Use our SDKs to integrate MapsIndoors into your existing apps,<br>or build a custom app suited to your needs.</h2>
        <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mr4 dib black mi-bg-white-snow inline-flex items-center tc" href="/ios/v3"><img class="mr3" alt="iOS SDK v3" src="{{ site.url }}/assets/apple-logo.svg" width="40px" height="40px">iOS <span class="gray ml2">v3</span></a>
        <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mr4 dib black mi-bg-white-snow inline-flex items-center tc" href="/android/v3"><img class="mr3" alt="Android SDK v3" src="{{ site.url }}/assets/android-logo.svg" width="40px" height="40px">Android <span class="gray ml2">v3</span></a>
        <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mr4 dib black mi-bg-white-snow inline-flex items-center tc" href="/web/v3"><img class="mr3" alt="Web SDK v3" src="{{ site.url }}/assets/js-logo.svg" width="40px" height="40px">Web <span class="gray ml2">v3</span></a>
        <a class="w-50 mw5 mi-sdk-button f3 link grow br4 ph4 pv3 mr4 dib black mi-bg-white-snow inline-flex items-center tc" href="/api/v1"><img class="mr3" alt="API v1" src="{{ site.url }}/assets/api-logo.svg" width="40px" height="40px">API <span class="gray ml2">v1</span></a>
      </section>
    </main>
  </div>
  {% include footer.html %}
  </body>
</html>
