{% include head.html %}
  <body class="bg-dark-gray">
    {% include top-nav.html %}
    {% include nav.html %}
    <main role="main">
      <section class="bg-white mt0 pb5">
        {% if page.nav == "ios/v3" %}
          {% for item in site.data.sdks.ios-v3.tutorials %}
            {% if item.title == page.title %}
            <div class="mw7 center">
              <h1 class="f1 fw3 mv0 pt4">{{ item.title }}</h1>
              <article class="lh-copy f4">
                {{ content }}
              </article>
              <h2 class="f2">Tutorials</h2>
              <ul class="pl0 f3">
                {% for entry in item.subfolderitems %}
                <li class="list mb3">
                  <a href="{{ site.url }}{{ site.baseurl }}/ios/v3/{{ entry.slug }}">{{ entry.page }}</a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}        
        {% elsif page.nav == "ios/v2" %}
          {% for item in site.data.sdks.ios-v2.tutorials %}
            {% if item.title == page.title %}
            <div class="mw7 center">
              <h1 class="f1 fw3 mv0 pt4">{{ item.title }}</h1>
              <article class="lh-copy f4">
                {{ content }}
              </article>
              <h2>Tutorials</h2>
              <ul class="pl0 f3">
                {% for entry in item.subfolderitems %}
                <li class="list mb3">
                  <a href="{{ site.url }}{{ site.baseurl }}/ios/v2/{{ entry.slug }}">{{ entry.page }}</a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        {% endif %}          
          </div>
        
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
