{% include head.html %}
  <body class="bg-dark-gray">
    {% include top-nav.html %}
    {% include nav.html %}
    <main role="main">
      <section class="bg-white mt0 pb5">
        <div class="mw7 center">
          <h1 class="f1 fw3 mv0 pt4">{{ page.title }}</h1>
          <article class="pt2 lh-copy f4">
          {{ content }}
          </article>
          <section>
            <h2>Guides</h2>
            <ul class="list pl0">
              {% if page.url contains '/ios/v3' %}
                {% assign ios-v3-guides = site.ios | where: "sdk_title", "ios-v3" | sort: 'nav_weight' %}
                {% for item in ios-v3-guides %}
                  <li class="f4 lh2 lh-copy"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              {% elsif page.url contains '/ios/v2' %}
                {% assign ios-v2-guides = site.ios | where: "sdk_title", "ios-v2" | sort: 'nav_weight' %}
                {% for item in ios-v2-guides %}
                  <li class="f4 lh2 lh-copy"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              {% elsif page.url contains '/cms' %}
                {% assign cms-guides = site.cms | where: "sdk_title", "cms" | sort: 'nav_weight' %}
                {% for item in cms-guides %}
                  <li class="f4 lh2 lh-copy"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
          </section>
        </div>        
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
