{% include head.html %}
  <body class="bg-dark-gray">
    {% include top-nav.html %}
    {% include nav.html %}
    <main role="main">
      <section class="bg-white mt0 pb5">
        <div class="mw7 center">
          <h1 class="f1 fw3 mv0 pt4">{{ page.title }}</h1>
          <article class="pt2 lh-copy f4">
          {{ content }}
          </article>
          <section>
            <h2>Guides</h2>
            <ul class="list pl0">
              {% assign sdk = site.documents | where_exp: "item", "item.sdk == page.sdk" %}
              {% assign sdk-version = sdk | where_exp: "item", "item.version == page.version" %}
              {% assign guides = sdk-version | where: "layout", "guide" | sort: 'nav_weight' %}
              {% for item in guides %}
                <li class="f4 lh-copy"><a href="{{ item.url | replace: 'index', ''}}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </section>
        </div>        
      </section>
    </main>
    {% include footer.html %}
  </body>
</html>
