{% include head.html %}
  <body class="bg-dark-gray">
    {% include top-nav.html %}
    <div class="flex bb b--black-20 f4 ph5 bg-white">
      <div class="flex-auto mid-gray">
        <p>
          {% if page.nav == "ios/v3" %}
          <a href="{{ site.url }}{{ site.baseurl }}/ios/v3">iOS v3</a> &rsaquo; <a href="{{ site.url }}{{ site.baseurl }}/ios/v3/{{ page.category | slugify }}">{{ page.category | capitalize }}</a> &rsaquo; <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title | capitalize }}</a>
          {% elsif page.nav == "ios/v2" %}
          <a href="{{ site.url }}{{ site.baseurl }}/ios/v2">iOS v2</a> &rsaquo; <a href="{{ site.url }}{{ site.baseurl }}/ios/v2/{{ page.category }}">{{ page.category | capitalize }}</a> &rsaquo; <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title | capitalize }}</a>
          {% endif %}
        </p>
      </div>
      <div class="inline-flex items-center blue">
        <a href="#" class="pl4 dib v-mid link dim">Glossary</a>
        <a href="#" class="pl4 dib v-mid link dim">Refrence Docs</a>
      </div>
    </div>
    <main role="main">
      <article class="bg-white mt0 pb5">
        <h1 class="f1 fw3 tc mv0 pt4">{{ page.title }}</h1>
        <div class="center mw7">
          <p class="f5 lh-copy tc">
            <span class="orange">{% if page.last_modified_at %}Updated on {{ page.last_modified_at |date: "%B %-d, %Y" }} {% endif %}</span>
            <span class="gray ml2">{% if page.date %}Posted on {{ page.date | date: "%B %-d, %Y" }} {% endif %}</span>
          </p>
          <section class="lh-copy f4">
            {{ content }}
          </section>
        </div>
      </article>
    </main>
    {% include footer.html %}
  </body>
</html>
