<div class="vh100">
  <header class="pt2 mb4">
    <select id="sdk-selector" name="sdk-selector" onChange="window.location.replace(this.options[this.selectedIndex].value)">
      <optgroup label="iOS">
        <option value="{{ site.url }}{{ site.baseurl }}/ios/v2">iOS v2</option>
        <option value ="{{ site.url }}{{ site.baseurl }}/ios/v3" selected>iOS v3</option>
      </optgroup>
      <optgroup label="Android">
        <option value="{{ site.url }}{{ site.baseurl }}/android/v2">Android v2</option>
        <option value="{{ site.url }}{{ site.baseurl }}/android/v3">Android v3</option>
      </optgroup>
      <optgroup label="Web">
        <option value="{{ site.url }}{{ site.baseurl }}/web/v2">Web v2</option>
        <option value="{{ site.url }}{{ site.baseurl }}/web/v3">Web v3</option>
      </optgroup>
      <optgroup label="Public Api">
        <option value="{{ site.url }}{{ site.baseurl }}/public-api/v1">Public API v1</option>
      </optgroup>
    </select>
  </header>
  <section>
    <h2>{{ site.data.sdks.ios-v3.sdk_title }}</h2>

    {% for item in site.data.sdks.ios-v3.tutorials %}
      <h3>{{ item.title }}</h3>
      {% if item.subfolderitems[0] %}
      <ul class="pl0 lh-copy">
        {% for entry in item.subfolderitems %}
        <li class="list">
          <a href="{{ site.url }}{{ site.baseurl }}/ios/v3{{ entry.url }}">{{ entry.page }}</a>
          {% if entry.subsubfolderitems[0] %}
          <ul>
             {% for subentry in entry.subsubfolderitems %}
            <li>
              <a href="{{ site.url }}{{ site.baseurl }}/{{ sdk.platform }}/{{ sdk.version }}/{{ subentry.url }}">{{ subentry.page }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endfor %}
    
    {% for item in site.data.sdks.ios-v3.reference_docs %}
      <h3>Reference docs</h3>
        <ul class="pl0 lh-copy"><li class="list"><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li></ul>
    {% endfor %}
    
  </section>
</div>
