---
permalink: /search.json
---

[
    {% for post in collections.published %}
    {% set data = post.data %}
        {
            "title": "{{ data.title }}",
            "description": "{{ data.description }}",
            "url": "{{ post.url }}",
            "content": "{{ post.templateContent
                | striptags
                | lower
                | forceescape
                | replace ( r/\\|\)|\'|\(|\{|\}|\[|\]|\;|\:|\.|\,|\/|\%|\?|\&|\!|\+|\"|\@|\‘|\`|\=|\_|\*|\-|\#|(\20f)|\|/g, '')
                | replace ( r/0|1|2|3|4|5|6|7|8|9/g, '')
                | replace ( r/ a | b | c | d | e | f | g | h | i | j | k | l | m | n | o | p | q | r | s | t | u | v | x | y | z /g, '')
                | replace ( r/     |    |   |  /g, '')
                | replace ( r/ the | an | and | am | you | to | if | of | off | me | my | on | in | it | is | at | as | we | do | be | has | but | was | so | no | not | or | up | for | about | this | are | amp | then | that | will | with | isn | quot | an | in | fm | fi | er | st | by | its |amp| ve | rc | lt | gt /g, '')
            }}"
        }
        {{ '' if loop.last else ',' }}
    {% endfor %}
]
